<a [routerLink]="['/vendedores/novo']" class="btn btn-primary btn-md">
  Novo Vendedor
</a>

<h3>{{title}}</h3>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Empresa</th>
  </tr>
  <tr *ngFor="let vendedor of vendedores">
    <td><a [routerLink]="[vendedor._id]">{{vendedor.nome}}</a></td>
    <td>{{vendedor.telefone}}</td>
    <td>{{vendedor.celular}}</td>
    <td>{{vendedor.empresa}}</td>
    <td>
      <button class="btn btn-danger" (click)="excluir(vendedor._id)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</table>