<html lang="pt-Br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="form-group">
            <label for="emergencia">Emergência</label>
            <select id="emergencia" class="form-control"
                ng-model="vendedor.emergencia"
                ng-options="vendedor._id as vendedor.nome for vendedor in vendedores">
            </select>
        </div>
    </body>
</html>