<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Ajuda do Depósito de Bebidas</title>
    </head>

    <body>
        <h1>Ajuda</h1>
        <p>Desculpe, não podemos te ajudar no momento.
            Entre em contato com os desenvolvedores.
        </p>
    </body>
</html>